body {
  background-color: rgb(233, 233, 231);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 10px;
}
figure {
  width: 20%;
  display: inline-block;
  float: left;
  margin: 72px 10px;
  padding-bottom: 30px;
  border-right: 1px solid black;
}
.images {
width: 83%;
border: 1px solid black;
border-radius: 20px;
margin: 10px 10px;
}
h1 {
  text-align: left;
  font-size: 64px;
  background-image: url("pic1.jpg");
  background-color: hsl(0, 0%, 100%, 10%);
  padding: 20px 20px;
  margin: 0px;
}

section ul{
  display: inline-block;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-top: 1px  black solid;
  border-bottom: 1px black solid;
}

p {
  font-size: 24px;
  display: inline-block;
  margin: 10px;
  width: 60%;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 5px;
  padding: 10px;
  color: rgb(25, 58, 58);
  background-color: rgb(195, 210, 219);
 
}
section ol{
  list-style: decimal;
  text-decoration: black;
  display: inline-block;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 20px;
  border-top: 1px  black solid;
  border-bottom: 1px black solid;
}
 nav ol {
  text-align: center;

}
nav ol li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
  padding: 10px 30px;
  color: rgb(5, 5, 5);
  background-color: rgb(206, 222, 231);
  border: 1px solid black;
  border-radius: 20px;
}

nav ol li:hover {
  background-color: rgb(230, 244, 252);
  font-weight: bolder;
}

h2 {
  text-align: left;
  font-size: 32px;
  /* background-color: rgb(36, 35, 35); */
  color:  rgb(22, 22, 22);
  padding: 20px 20px;
  margin: 0px;
}
footer ol{
  text-align: center;
  position: sticky; 
  bottom: 0px;
  
}
footer ol li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 0px 50px;
  padding: 10px 60px;
  color: rgb(248, 246, 246);
  background-color: rgb(5, 5, 5);
  border: 1px solid black;
  border-radius: 20px; 
  

}
footer ol li:hover {
  background-color: rgb(65, 64, 64);
  color: rgb(228, 225, 225);
 
}